.container {
  max-width: 900px;
  margin: 0 auto;
  font-family: sans-serif;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigationItem {
  margin-right: 20px;
  list-style: none;
}

.link {
  text-decoration: none;
}
